Language: CSharp
BasedOnStyle: Google

# Indentation
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100

# Fix for the "Shifting" issue
# C# parser is much stricter about aligning members to the class
AccessModifierOffset: -4

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

# Spacing
SpaceBeforeAssignmentOperators: true
# Ensures { "a" => 1 } stays clean
SpacesInContainerLiterals: true

# Alignment
AlignAfterOpenBracket: BlockIndent
IndentWrappedFunctionNames: false
AlignConsecutiveAssignments: false
AlignOperands: false

# Monkey C specific
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false